html{
  background-color:#202a3a
}
.Header{
  font-family:Futura, "Trebuchet MS", Arial, sans-serif;
  font-size:40px;
  text-align:center;
  border-bottom: 3px solid #FF6600;
  color:#f7f8f9;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px
}
.subhead{
  font-family:Futura, "Trebuchet MS", Arial, sans-serif;
  font-size:30px;
  text-align:center;
  border-bottom: 2px solid #FF6600;
  color:#f7f8f9;
  width:180px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
}
.quote{
  font-family:Futura, "Trebuchet MS", Arial, sans-serif;
  color:#f7f8f9;
  font-size:25px;
  text-align:center;
}
.item{
  font-family:Futura, "Trebuchet MS", Arial, sans-serif;
  font-size:20px;
  text-align:center;
  color:#f7f8f9;
  width:180px;
  margin-left:auto;
  margin-right:auto;
}
.item a:hover{
  background-color: #707070;
  cursor: pointer;
  color:#fff;
	border-top: 2px solid #FF6600;
	-webkit-transition: background-color 0.5s ease-in;
	-moz-transition: background-color 0.5s;
		-o-transition: background-color 0.5s;
		-ms-transition: background-color 0.5s;
}
.nav{	
width:100%;
font-family:Futura, "Trebuchet MS", Arial, sans-serif;
}
#navbar{
  font-family:Futura, "Trebuchet MS", Arial, sans-serif;
  background-color:#202a3a;
  text-decoration:none;
  color:#f7f8f9;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}
nav{
  list-style-type: none;
}
li{
  display:inline;
  margin:80px;
  font-size:20px;
}
#navbar li a:hover {
        background-color:#707070;
        cursor: pointer;
		    color:#fff;
		    border-top: 2px solid #FF6600;
		-webkit-transition: background-color 0.5s ease-in;
		-moz-transition: background-color 0.5s;
		-o-transition: background-color 0.5s;
		-ms-transition: background-color 0.5s;
}
#navbar li a:active {
        background-color: #3B3B3B; 
}
a{
  text-decoration:none;
  color:#f7f8f9;}
